@font-face {
  font-family: 'Bebas Neue Bold';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/BebasNeueBold.eot');
  src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BebasNeueBold.woff') format('woff'),
  url('../fonts/BebasNeueBold.ttf') format('truetype');
}

@font-face {
font-family: 'Clear Sans Light';
font-weight: normal;
font-style: normal;

src: url('../fonts/ClearSans-Light.eot');
src: url('../fonts/ClearSans-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/ClearSans-Light.woff') format('woff'),
url('../fonts/ClearSans-Light.ttf') format('truetype');
}

@font-face {
font-family: 'Clear Sans Regular';
font-weight: normal;
font-style: normal;

src: url('../fonts/ClearSans.eot');
src: url('../fonts/ClearSans.eot?#iefix') format('embedded-opentype'),
url('../fonts/ClearSans.woff') format('woff'),
url('../fonts/ClearSans.ttf') format('truetype');
}
