
html {
    font-size: 10px;
}
* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: #fff;
  background-color: #000;

  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;

  color: inherit;

}

/* GRID START */
  header {
    grid-area: header;
  }
  .description {
    grid-area: description;
  }
  .letters {
    grid-area: main-content;
  }

main {
  overflow: hidden;

  padding-bottom: 25vh;

}
/* GRID END */

/* RED-ROUND-BG START */
.round-bg {
  position: absolute;
  z-index: -1;
  top: 0;
}
/* RED-ROUND-BG END */

/* HEADER START */
header {
  position: relative;

  display: flex;

  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.scroll-effect-items {
  margin-bottom: 10rem;

}
.adaptive {
  display: none;
}
/* HEADER END */

/* DESCRIPTION START */
.description {
  display: flex;

  margin-top: 3rem;

  text-align: center;

  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex-flow: column nowrap;
}
.description h1 {
  text-align: center;
  text-transform: uppercase;

  font-family: 'Bebas Neue Bold', sans-serif;
  font-size: 27.4rem;
}
.description h1 span:first-of-type {
  letter-spacing: 16px;

  font-size: 30.8rem;
}
.description h1 span:last-of-type {
  letter-spacing: 2.3rem;
}
.description h3 {
  margin: 6rem 0 3rem 0;

  letter-spacing: 1px;

  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  font-weight: 300;
}

.buttons {
  margin-top: 2.5rem;

}
.buttons a {
  display: inline-block;

  padding: 3rem 6rem;

  transition: all .2s ease-in-out;
  text-transform: uppercase;

  color: #fff;
  border: 1px #a81212 solid;

  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;;
}
.buttons a:hover,
.buttons a:last-child:link {
  background-color: #a81212;
}
.buttons a:last-child {
  margin-left: 1rem;

  background-color: #a81212;

}
/* DESCRIPTION END */

/* LETTERS START */
.letters {
  display: grid;

  margin-top: 50vh;

  font-family: 'Bebas Neue Bold', sans-serif;

  justify-content: center;
  grid:repeat(2, minmax(150px, 300px)) / repeat(3, minmax(300px, 600px));
  grid-gap: 5rem;
}
.head-base {
  display: flex;

  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  align-items: center;
  flex-flow: column nowrap;
}
.letters h1 {
  font-size: 26rem;
}
.letters h2 {
  font-size: 4rem;
}
.letter1 {
  background-image: url(../img/figures/1.png);
}
.letter2 {
  background-image: url(../img/figures/2.png);
}
.letter3 {
  background-image: url(../img/figures/3.png);
}
.letter4 {
  background-image: url(../img/figures/4.png);
}
.letter5 {
  background-image: url(../img/figures/5.png);

}
.letter6 {
  background-image: url(../img/figures/6.png);
}

.letters h2:hover {
  transition: all ease-in-out .8s;
  text-decoration: line-through;
}
/* LETTERS END */

/* PARAGRAPHS START */

.manson {
  display: grid;

  margin: 50vh 5% 0 5%;

  justify-content: center;
  grid:repeat(2, 1fr) / repeat(3, minmax(300px, 600px));
  grid-gap: 5rem;
}
.paragraph p {
  font-size: 1.6rem;
  font-weight: 300;

}
.paragraph h4 {
  margin-bottom: 1.5rem;

  color: #a81212;

  font-family: 'Roboto Slab', serif;
  font-size: 2.4rem;
}
/* PARAGRAPHS END */

/* MEDIA LETTERS START */

@media all and (max-width: 768px) {
  .scroll-effect-items {
    display: none;
  }
  .description h1,
  .description h1 span:first-of-type,
   .description h1 span:last-of-type {
    letter-spacing: normal;

    font-size: 15rem;
  }
  .adaptive {
    display: block;

    width: 80%;
  }
  .medusa {
    width: 80%;
  }
  .letters, .manson {
    grid:repeat(3, 1fr) / repeat(2, 1fr);
  }
}
@media all and (max-width: 320px) {
  .scroll-effect-items {
    display: none;
  }
  .description h1 {
    font-size: 10rem;
  }
  .adaptive {
    display: block;

    width: 80%;
  }
  .medusa {
    width: 80%;
  }
  .description h1 {
    text-align: center;

    font-size: 58px;
  }
  .description h1 span:first-of-type,
   .description h1 span:last-of-type {
    letter-spacing: normal;

    font-size: 7rem;
    }
  .buttons a:last-child {
    margin: 1em 0 0 0;
  }
  .description h3 {
    margin: 1rem 0;

    font-size: 32px;
  }
  .manson {
    grid-gap: 2rem;
  }
  .letters, .manson {
    grid:repeat(6, 1fr) / repeat(1, 1fr);
  }
}
/* MEDIA LETTERS END */
