
html {
    font-size: 10px;
}

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #fff;
  background-color: #000;

  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

/* GRID START */
  header {
    grid-area: header;
  }
  .description {
    grid-area: description;
  }
  .letters {
    grid-area: main-content;
  }
main {
  overflow: hidden;
}
h1 {
  font-family: 'Bebas Neue Bold', sans-serif;
  font-size: 30rem;
}
/* GRID END */

/* RED-ROUND-BG START */
.round-bg {
  position: absolute;
  z-index: -1;
  top: 0;
}
/* RED-ROUND-BG END */

/* HEADER START */
header {
  position: relative;

  display: flex;

  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.scroll-effect-items {
  margin-bottom: 10rem;
}
.adaptive {
  display: none;
}
/* HEADER END */

/* DESCRIPTION START */
.description {
  display: flex;

  margin-top: 3rem;

  text-align: center;

  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex-flow: column nowrap;
}
.description h1 {
  text-align: center;

  font-size: 30rem;
  line-height: 30rem;
}
.description h1 span:first-of-type {
  letter-spacing: 16px;

  font-size: 34rem;
}
.description h1 span:last-of-type {
  letter-spacing: 2.3rem;
}
.description h3 {
  margin: 6rem 0 3rem 0;

  letter-spacing: 1px;

  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 300;
}

.buttons {
  margin-top: 2.5rem;
}
.buttons a {
  display: inline-block;

  padding: 3rem 6rem;

  transition: all .2s ease-in-out;
  text-transform: uppercase;

  color: #fff;
  border: 1px #a81212 solid;

  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;;
}
.buttons a:hover,
.buttons a:first-child:link {
  background-color: #a81212;
}
.buttons a:last-child {
  margin-left: 1rem;
}
/* DESCRIPTION END */

/* LETTERS START */
.hover-liner {
  position: absolute;
  top: 5%;

  width: 0;
  height: 10px;

  background: #fff;
}
.hover-liner:hover {
  width: 100%;
}
.letters {
  display: grid;

  margin-top: 50vh;

  font-family: 'Bebas Neue Bold', sans-serif;

  justify-content: center;
  grid:repeat(2, minmax(150px, 300px)) / repeat(3, minmax(300px, 600px));
  grid-gap: 5rem;
}
.head-base {
  display: flex;

  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  align-items: center;
  flex-flow: column nowrap;
}
.letters h1 {
  font-size: 26rem;
}
.letters h2 {
  font-size: 4rem;
}
.letter1 {
  background-image: url(../img/figures/1.png);
}
.letter2 {
  background-image: url(../img/figures/2.png);
}
.letter3 {
  background-image: url(../img/figures/3.png);
}
.letter4 {
  background-image: url(../img/figures/4.png);
}
.letter5 {
  background-image: url(../img/figures/5.png);
}
.letter6 {
  background-image: url(../img/figures/6.png);
}

/* .letters h2:hover {
  transition: all ease-in-out .8s;
  text-decoration: line-through;
} */
/* LETTERS END */

/* PARAGRAPHS START */

.manson {
  display: flex;

  margin: 50vh 5%;

  flex-wrap: wrap;
  justify-content: space-between;
}
.paragraph {
  position: relative;

  width: 30%;
  margin: 0 0 3% 0;
}
.paragraph p {
  text-align: 1.2rem;

  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
}
.paragraph h4 {
  margin-bottom: 1.5rem;

  color: #a81212;

  font-family: 'Bebas Neue Bold', sans-serif;
  font-size: 3.6rem;
}
/* PARAGRAPHS END */

/* FOOTER START */

footer {
position: relative;
  bottom: 0;

  display: flex;

  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}
footer h1 {
  position: absolute;

  text-shadow: 5px 0px 35px black;

}
.power {
  display: flex;

  align-items: center;
}
.power-item {
  position: absolute;
  bottom: 60%;
}
.flash1 {
  right: 44%;
}
.flash2 {
  right: 30%
}
.flash3 {
  right: 22%;
}
.rockin-hand {
  width: 15%;
}

.right-arrow-bg {
  position: absolute;
  z-index: -1;
  bottom: 15%;

  width: 100%;
  height: 200px;

  background-image: url(../img/figures/3-bg.png);
  background-repeat: repeat-x;
  background-size: contain;
}
/* FOOTER END */
/* MEDIA START */

@media all and (max-width: 1300px) {
  .scroll-effect-items {
    display: none;
  }
  .description h1,
  .description h1 span:first-of-type,
  .description h1 span:last-of-type {
    letter-spacing: normal;

    font-size: 15rem;
    line-height: 15rem;
  }
  .description h1 span:first-of-type {
      font-size: 18.5rem;
  }
  .description h1 span:last-of-type {
    letter-spacing: 12px;
  }
  .adaptive {
    display: block;

    width: 80%;
  }
  .medusa {
    width: 80%;
  }
  .letters, .manson {
    grid:repeat(3, 1fr) / repeat(2, 1fr);
  }
}
@media all and (min-width: 320px) and (max-width: 768px) {
  .scroll-effect-items {
    display: none;
  }
  .description h1 {
    font-size: 10rem;
  }
  .adaptive {
    display: block;

    width: 80%;
  }
  .medusa {
    width: 80%;
  }
  .description h1 {
    text-align: center;

    font-size: 6.4rem;
    line-height: normal;
  }
  .description h1 span:first-of-type {
    letter-spacing: 2px;}
  .description h1 span:last-of-type {
    letter-spacing: -1px;
  }
  .description h1 span:first-of-type,
   .description h1 span:last-of-type {
    font-size: 7.6rem;
    line-height: normal;
    }
  .buttons a:last-child {
    margin: 1em 0 0 0;

    transition: all .3s ease-in-out;

    border: none;
  }
  .buttons a:hover {
    background: none;
  }
  .description h3 {
    margin: 4rem 0;

    font-size: 34px;
  }
  .manson {
    grid-gap: 2rem;
    flex-flow: column nowrap;
  }
  .paragraph {
    width: 100%;
    margin: 0 0 12% 0;
  }
  .letters, .manson {
    grid:repeat(6, 1fr) / repeat(1, 1fr);
  }
  footer h1 {
    position: static;

    font-size: 10rem;
  }
  .power {
    display: none;
  }
  .rockin-hand {
    width: 40%;
  }
}
@media all and (max-width: 768px) {
  .manson {
    flex-flow: column nowrap;
  }
  .paragraph {
    width: 100%;
  }
  footer h1 {
    z-index: 1;
  }
  .rockin-hand {
    width: 30%;
  }
  .flash1 {
    right: 34%;
  }
  .flash2 {
    right: 9%;
  }
  .flash3 {
    display: none;
  }
  .right-arrow-bg {
    z-index: 0;
    bottom: 0%;

    height: 50%;
  }
}

/* MEDIA END */






/* ANIMATION START */
.sweep-down {
  position: relative;

  transition-duration: 0.3s;
  transition-property: color;
  transform: perspective(1px) translateZ(0);

  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.sweep-down::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: " ";
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: scaleY(0);
  transform-origin: 50% 0;
}
.sweep-down:hover {
  transition-duration: 0.3s;
  transition-property: color;
  transform: perspective(1px) translateZ(0);

  background: #a81212;
}
.float {
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  transition-property: transform;
  transform: perspective(1px) translateZ(0);
}
.float:hover {
  transform: translateY(-20px);
}
.link-line {
  position: relative;

  display: block;

  cursor: pointer;
}

.link-line:before, .link-line:after {
  position: absolute;
  top: 50%;

  width: 0%;
  height: 6px;
  margin-top: -0.5px;

  content: '';

  background: #a81212;
}


.link-line:after {
  right: 1.5px;

  transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);

  background: #a81212;
}

.link-line:hover:before {
  width: 100%;

  transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);

  background: #a81212;
}

.link-line:hover:after {
  width: 100%;

  transition: 0s;

  background: transparent;
}


/* ANIMATION END */
