@import "fonts.css";
* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: #fff;
  background-color: #000;
}
a {
  text-decoration: none;
}

/* GRID START */
  header {
    grid-area: header;
  }
  .description {
    grid-area: description;
  }
  .letters {
    grid-area: main-content;
  }

main {
  display: grid;

  padding-bottom: 25vh;

  justify-self: center;
  justify-items: center;
  justify-content: center;
  grid: repeat(100%, 1fr) / 1fr 50% 1fr;
  grid-gap: 1.5em 3em;
  grid-template-areas:
  ". header . "
  ". description ."
  "main-content main-content main-content";

}
/* GRID END */

/* RED-ROUND-BG START */
.round-bg {
  position: absolute;
  z-index: -1;
  top: 0;

  width: 100%;
}
/* RED-ROUND-BG END */

/* HEADER START */
header {
  position: relative;

  display: grid;

  justify-self: center;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: center;
}
header img {
  grid-column: 2 / 3;
}
.caesar {
  margin: 20% 0 0 0;
}

.fly-letter {
  position: absolute;
  z-index: -1;
}
header > img:nth-child(2) {
  z-index: -1;
  top: 19%;
  left: 13%;

  width: 125px;

  transform: rotate(-15deg);
}
header > img:nth-child(3) {
  top: 51%;
  left: 3%;

  width: 100px;

  transform: rotate(-24deg);
}
header > img:nth-child(4) {
  z-index: 1;
  top: 66%;
  right: 35%;

  transform: rotate(-5deg);
}
header > img:nth-child(5) {
  z-index: 1;
  top: 51%;
  right: -1%;

  transform: rotate(23deg);
}
header > img:nth-child(6) {
  z-index: 1;
  top: 13%;
  right: 14%;

  width: 111px;

  transform: rotate(20deg);
}
/* HEADER END */

/* DESCRIPTION START */
.description {
  display: flex;

  margin-top: 3em;

  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex-flow: column nowrap;
}
.description h1 {
  letter-spacing: 0.1em;

  font-family: 'Bebas Neue Bold', sans-serif;
  font-size: 72px;
}
.description h3 {
  margin-top: 1rem;

  letter-spacing: 1px;

  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  font-weight: 300;
}

.buttons {
  margin-top: 2.5rem;

}
.buttons a {
  display: inline-block;

  padding: 1em 1.5em;

  transition: all .2s ease-in-out;
  text-transform: uppercase;

  color: #fff;
  border: 1px #a81212 solid;

  font-family: 'Roboto', sans-serif;
}
.buttons a:hover,
.buttons a:last-child:link {
  background-color: #a81212;
}
.buttons a:last-child {
  margin-left: 1em;

  background-color: #a81212;

}
/* DESCRIPTION END */

/* LETTERS START */
.letters {
  display: grid;

  margin-top: 25vh;

  font-family: 'Bebas Neue Bold', sans-serif;

  justify-self: stretch;
  justify-items: center;
  grid:repeat(2, 1fr) / repeat(3, 1fr);
  grid-gap: 4em;
  ;
}
.head-base {
  display: flex;

  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  align-items: center;
  flex-flow: column nowrap;
}
.letters h1 {
  font-size: 16em;
}
.letters h2 {
  font-size: 2em;
}
.letter1 {
  background-image: url(../img/figures/1.png);
}
.letter2 {
  background-image: url(../img/figures/2.png);
}
.letter3 {
  background-image: url(../img/figures/3.png);
}
.letter4 {
  background-image: url(../img/figures/4.png);
}
.letter5 {
  background-image: url(../img/figures/5.png);

}
.letter6 {
  background-image: url(../img/figures/6.png);
    background-size: 80%;
}
/* LETTERS END */
